[submodule "win-deps"]
	path = lib/vgmtrans-ext-win
	url = https://github.com/vgmtrans/vgmtrans-ext-win
[submodule "external/JUCE"]
    path = external/JUCE
    url = https://github.com/juce-framework/JUCE.git
[submodule "external/juicysfplugin"]
    path = external/juicysfplugin
    url = https://github.com/mikelow/juicysfplugin.git
    branch = cmake